[submodule "array"]
	path = array
	url = https://github.com/boostorg/array
	shallow = true
[submodule "assert"]
	path = assert
	url = https://github.com/boostorg/assert
	shallow = true
[submodule "concept_check"]
	path = concept_check
	url = https://github.com/boostorg/concept_check
	shallow = true
[submodule "config"]
	path = config
	url = https://github.com/boostorg/config
	shallow = true
[submodule "container"]
	path = container
	url = https://github.com/boostorg/container
	shallow = true
[submodule "core"]
	path = core
	url = https://github.com/boostorg/core
	shallow = true
[submodule "detail"]
	path = detail
	url = https://github.com/boostorg/detail
	shallow = true
[submodule "functional"]
	path = functional
	url = https://github.com/boostorg/functional
	shallow = true
[submodule "integer"]
	path = integer
	url = https://github.com/boostorg/integer
	shallow = true
[submodule "iterator"]
	path = iterator
	url = https://github.com/boostorg/iterator
	shallow = true
[submodule "lexical_cast"]
	path = lexical_cast
	url = https://github.com/boostorg/lexical_cast
	shallow = true
[submodule "math"]
	path = math
	url = https://github.com/boostorg/math
	shallow = true
[submodule "move"]
	path = move
	url = https://github.com/boostorg/move
	shallow = true
[submodule "mpl"]
	path = mpl
	url = https://github.com/boostorg/mpl
	shallow = true
[submodule "numeric_conversion"]
	path = numeric_conversion
	url = https://github.com/boostorg/numeric_conversion
	shallow = true
[submodule "predef"]
	path = predef
	url = https://github.com/boostorg/predef
	shallow = true
[submodule "preprocessor"]
	path = preprocessor
	url = https://github.com/boostorg/preprocessor
	shallow = true
[submodule "range"]
	path = range
	url = https://github.com/boostorg/range
	shallow = true
[submodule "smart_ptr"]
	path = smart_ptr
	url = https://github.com/boostorg/smart_ptr
	shallow = true
[submodule "static_assert"]
	path = static_assert
	url = https://github.com/boostorg/static_assert
	shallow = true
[submodule "throw_exception"]
	path = throw_exception
	url = https://github.com/boostorg/throw_exception
	shallow = true
[submodule "type_traits"]
	path = type_traits
	url = https://github.com/boostorg/type_traits
	shallow = true
[submodule "utility"]
	path = utility
	url = https://github.com/boostorg/utility
	shallow = true
[submodule "test"]
	path = test
	url = https://github.com/boostorg/test
	shallow = true
[submodule "function"]
	path = function
	url = https://github.com/boostorg/function
	shallow = true
[submodule "type_index"]
	path = type_index
	url = https://github.com/boostorg/type_index
	shallow = true
[submodule "container_hash"]
	path = container_hash
	url = https://github.com/boostorg/container_hash
	shallow = true
[submodule "bind"]
	path = bind
	url = https://github.com/boostorg/bind
	shallow = true
[submodule "timer"]
	path = timer
	url = https://github.com/boostorg/timer
	shallow = true
[submodule "exception"]
	path = exception
	url = https://github.com/boostorg/exception
	shallow = true
[submodule "io"]
	path = io
	url = https://github.com/boostorg/io
	shallow = true
[submodule "algorithm"]
	path = algorithm
	url = https://github.com/boostorg/algorithm
	shallow = true
[submodule "optional"]
	path = optional
	url = https://github.com/boostorg/optional
